* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #111;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #000;
  border-bottom: 2px solid #ff3c00;
}

.logo {
  color: #ff3c00;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #ff3c00;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.hero-text h1 {
  font-size: 48px;
  animation: slideIn 1s ease;
}

.hero-text p {
  margin: 10px 0;
}

.hero-text button {
  padding: 10px 20px;
  background: #ff3c00;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.hero-text button:hover {
  background: #ff5a1f;
}

/* IMAGE */
.hero-image img {
  width: 400px;
  border-radius: 20px;
  animation: float 3s infinite ease-in-out;
}

/* ANIMATIONS */
@keyframes slideIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}